#ignore Eclispe project files
.project
.pydevproject
#ignore compiled Python files
*.pyc
#ignore debug output
matching.txt
regex.txt
distances.txt
#ignore static content from Django, which is system dependent
MasterThesis/OntologyMatcher/static
