<head>
    <title>{{ title }}</title>
    <script src="/resources/scripts.js"></script>
    <link rel="stylesheet" href="/resources/stylesheet.css"/>
</head>
<body>
	<table>
		<h1>Configuration</h1>
		<h3>Choose two Ontologies</h3>
		<ul id="ontologyList">
    		{% for item, item_info in ontologies.items %}
			<div>From {{ item_info.label }}:</div>
    			{% for jtem in item_info.ontos %}
    			<button id="add-{{ item }}-{{ jtem.0 }}" onClick="addItem('{{ item }}', '{{ jtem.0 }}', '{{ jtem.0 }}')">{{ jtem.0 }}</button>
    			{% endfor %}
	    	{% empty %}
	    	<p>None found</p>
    		{% endfor %}
		</ul>
		<h3>Choose at least one Matcher</h3>
		<ul id="matcherList">
			{% for item in matchers %}
	    	<button id="add-Matcher-{{ item }}" onClick="addItem('Matcher', '{{ item }}', '{{ item }}')">{{ item }}</button>
	    	{% empty %}
	    	<p>None found</p>
		{% endfor %}
		</ul><br/>
		<h1>Matching Process</h1>
		<h3>Using Matchers</h3>
		<div id="usedMatchers"></div><br/>
		<h3>on Ontologies</h3>
		<div id="usedontos"></div><br/>
		<form id="availableOntologies" action="/matcher/result_writer/matching_result.html?" method="post">
			<input type="submit" value="Find Matches">
			{% csrf_token %}
		</form>
	</table>
	<img src="resources/loading.gif" hidden="hidden"></img>
</body>