<head>
    <title>{{ title }}</title>
    <script src="/resources/scripts.js"></script>
</head>
<body>
	<table>
		<tr><td>
		<h1>Ontologies</h1>
		<form id="ontologies" action="result_writer/matching_result.html" method="get">
			{% for item in ontologies %}
		    <input type="checkbox" name="onto" value="{{ item }}"/>{{ item }}<br>
			{% endfor %}
		</form>
		</td><td></td><td>
			<h1>Matchers</h1>
			{% for item in matchers %}
		    <button id="{{ item }}" action="addMatcher('{{ item }}')"/>Add {{ item }}</button><br>
			{% endfor %}<br/>
		</td></tr>
		<tr><td></td><td>
		<table id="usedMatchers" hidden="hidden" ></table><br/>
		<input type="submit" form="ontologies" value="Find Matches">
		</td></tr>
	</table>
	<!-- <img src="resources/loading.gif" hidden="hidden"></img> -->
</body>