<head>
    <title>{{ title }}</title>
    <script src="/resources/scripts.js"></script>
    <link rel="stylesheet" href="/resources/stylesheet.css"/>
</head>
<body>
	<table>
			<h1>Ontologies</h1>
			<ul id="ontologyList">
				{% for item in ontologies %}
		    	<button id="add-Onto-{{ item }}" onClick="addItem('Onto', '{{ item }}', '{{ item }}')">{{ item }}</button>
		    	{% empty %}
		    	<p>None found</p>
				{% endfor %}
			</ul>
			<h1>Terminologies</h1>
			<ul id="terminologyList">
			{% for item in terminologies %}
		    	<button id="add-Term-{{ item }}" onClick="addItem('Term', '{{ item }}', '{{ item }}')">{{ item }}</button>
		    	{% empty %}
		    	<p>None found</p>
			{% endfor %}
			</ul>
			<h1>Matchers</h1>
			<ul id="matcherList">
				{% for item in matchers %}
		    	<button id="add-Matcher-{{ item }}" onClick="addItem('Matcher', '{{ item }}', '{{ item }}')">{{ item }}</button>
		    	{% empty %}
		    	<p>None found</p>
			{% endfor %}
			</ul><br/>
		<h1>Using Matchers</h1>
		<div id="usedMatchers"></div><br/>
		<h1>on Ontologies</h1>
		<div id="usedOntos"></div><br/>
		<h1>on Terminologies</h1>
		<div id="usedTerms"></div><br/>
		<form id="availableOntologies" action="/matcher/result_writer/matching_result.html?" method="post">
			<input type="submit" value="Find Matches">
			{% csrf_token %}
		</form>
	</table>
	<img src="resources/loading.gif" hidden="hidden"></img>
</body>